GeoIP
humanize
ipaddr
bottle>=0.12.19
semantic_version
python-keycloak
netifaces
# don't put mupif into requirements as it would pull a specific branch
# just leave whatever is installed already
# git+https://github.com/mupif/mupif.git@Musicode
